In [1]:
import numpy as np
import pandas as pd
import re

#Visualisation Libraries
import matplotlib.pyplot as plt

#Training and Preprocessing Libraries
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import roc_auc_score

# sampling
from imblearn.over_sampling import RandomOverSampler
from imblearn.over_sampling import SMOTE, ADASYN

# classifiers
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier

from sklearn.metrics import f1_score, recall_score, precision_score, accuracy_score

from sklearn.tree import export_graphviz
from subprocess import call
from IPython.display import Image

In [2]:
def convert_date_to_day_of_year(dt):
    result = re.findall(r'(\d{2})/(\d{2})/(\d{4})',dt)
    return result[0][0]

def convert_date_to_month(dt):
    result = re.findall(r'(\d{2})/(\d{2})/(\d{4})',dt)
    return result[0][1]

In [3]:
def preprocess_datetime(data):
    data['day_of_year'] = data.Date.apply(lambda x: convert_date_to_day_of_year(x))
    data['month'] = data.Date.apply(lambda x: convert_date_to_month(x))
    return data

In [4]:
def preprocess_data(temp_data):
    temp_data["Pedestrian_Crossing-Physical_Facilities"]= le_Pedestrian_Crossing_Physical_Facilities.transform(temp_data["Pedestrian_Crossing-Physical_Facilities"])
    temp_data["Light_Conditions"]= le_Light_Conditions.transform(temp_data["Light_Conditions"])
    temp_data["Weather_Conditions"] = le_Weather_Conditions.transform(temp_data["Weather_Conditions"])
    temp_data["Road_Surface_Conditions"] = le_Road_Surface_Conditions.transform(temp_data["Road_Surface_Conditions"])
    temp_data["Pedestrian_Crossing-Human_Control"] = le_Pedestrian_Crossing_Human_Control.transform(temp_data["Pedestrian_Crossing-Human_Control"])
    temp_data["Road_Type"] = le_Road_Type.transform(temp_data["Road_Type"])
    temp_data["Time"] = temp_data["Time"].astype(str)
    temp_data['Time'] = temp_data['Time'].str.slice(0, 2, 1)
    temp_data["Time"] = temp_data["Time"].astype(int)
    return temp_data

In [5]:
def build_model(clf, X_train, Y_train):
    print(clf)
    clf.fit(X_train, Y_train)

In [6]:
def predict(clf, X_test):
    pred = clf.predict(X_test)
    return pred

In [7]:
def print_score(y_test, pred, average="macro"):
    acc = accuracy_score(y_test, pred)
    prec = precision_score(y_test, pred, average=average)
    recall = recall_score(y_test, pred, average=average)
    f2 = f1_score(y_test, pred, average=average)
    print("Accuracy Score: {}".format(acc))
    print("Precision Score: {}".format(prec))
    print("Recall Score: {}".format(recall))
    print("F1 Score: {}".format(f2))
    return acc, prec, recall, f2

In [8]:
class_dict = {1: 'Fatal', 2: 'Severe', 3: 'Slight'}

class_labels = ['Fatal', 'Severe', 'Slight']

In [9]:
data1 = pd.read_csv("./data/accidents_2005_to_2007.csv")
data2 = pd.read_csv("./data/accidents_2009_to_2011.csv")
data3 = pd.read_csv("./data/accidents_2012_to_2014.csv")

data = pd.concat([data1, data2, data3])

/Users/varunshah/venv3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (31) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [10]:
drop_columns = ['Date', 'Accident_Index', 'Number_of_Casualties', 'Police_Force', 'Junction_Detail',
                'Junction_Control', 'Special_Conditions_at_Site', 'Carriageway_Hazards',
                'Did_Police_Officer_Attend_Scene_of_Accident', 'LSOA_of_Accident_Location',
                'Local_Authority_(District)', 'Local_Authority_(Highway)']

In [11]:
data = preprocess_datetime(data)
data1 = data.drop(drop_columns, axis=1, inplace=False)
data1.dropna(inplace=True)

In [12]:
le_Pedestrian_Crossing_Physical_Facilities = LabelEncoder()
le_Light_Conditions = LabelEncoder()
le_Weather_Conditions = LabelEncoder()
le_Road_Surface_Conditions = LabelEncoder()
le_Pedestrian_Crossing_Human_Control = LabelEncoder()
le_Road_Type = LabelEncoder()

le_Pedestrian_Crossing_Physical_Facilities.fit(data1["Pedestrian_Crossing-Physical_Facilities"])
le_Light_Conditions.fit(data1["Light_Conditions"])
le_Weather_Conditions.fit(data1["Weather_Conditions"])
le_Road_Surface_Conditions.fit(data1["Road_Surface_Conditions"])
le_Pedestrian_Crossing_Human_Control.fit(data1["Pedestrian_Crossing-Human_Control"])
le_Road_Type.fit(data1["Road_Type"])

LabelEncoder()

In [13]:
data1 = data1[data1['Weather_Conditions'] != 'Unknown']
data1 = data1[data1['Road_Type'] != 'Unknown']

In [14]:
data1 = preprocess_data(data1)

In [15]:
data1

,Location_Easting_OSGR,Location_Northing_OSGR,Longitude,Latitude,Accident_Severity,Number_of_Vehicles,Day_of_Week,Time,1st_Road_Class,1st_Road_Number,...,2nd_Road_Number,Pedestrian_Crossing-Human_Control,Pedestrian_Crossing-Physical_Facilities,Light_Conditions,Weather_Conditions,Road_Surface_Conditions,Urban_or_Rural_Area,Year,day_of_year,month
0,525680.0,178240.0,-0.191170,51.489096,2,1,3,17,3,3218,...,0,2,4,4,5,4,1,2005,04,01
1,524170.0,181650.0,-0.211708,51.520075,3,1,4,17,4,450,...,0,2,3,2,1,0,1,2005,05,01
2,524520.0,182240.0,-0.206458,51.525301,3,2,5,0,5,0,...,0,2,2,2,1,0,1,2005,06,01
3,526900.0,177530.0,-0.173862,51.482442,3,1,6,10,3,3220,...,0,2,2,4,1,0,1,2005,07,01
4,528060.0,179040.0,-0.156618,51.495752,3,1,2,21,6,0,...,0,2,2,1,1,4,1,2005,10,01
5,524770.0,181160.0,-0.203238,51.515540,3,2,3,12,6,0,...,0,2,2,4,5,4,1,2005,11,01
6,524220.0,180830.0,-0.211277,51.512695,3,2,5,20,5,0,...,0,2,2,2,1,0,1,2005,13,01
7,525890.0,179710.0,-0.187623,51.502260,3,1,6,17,3,315,...,0,2,2,4,1,0,1,2005,14,01
8,527350.0,177650.0,-0.167342,51.483420,3,2,7,22,3,3212,...,304,2,3,2,1,0,1,2005,15,01
9,524550.0,180810.0,-0.206531,51.512443,3,2,7,16,4,450,...,0,2,0,4,1,0,1,2005,15,01
10,526240.0,178900.0,-0.182872,51.494902,3,1,1,0,3,4,...,325,2,3,2,1,0,1,2005,16,01
11,526170.0,177690.0,-0.184312,51.484044,3,2,3,20,3,3220,...,308,2,3,2,1,4,1,2005,25,01
12,525590.0,178520.0,-0.192366,51.491632,3,1,3,12,6,0,...,3220,2,4,4,5,4,1,2005,11,01
13,527990.0,178690.0,-0.157753,51.492622,3,2,3,5,3,3217,...,3216,2,2,2,5,4,1,2005,18,01
14,526700.0,178970.0,-0.176224,51.495429,3,1,3,11,3,4,...,0,2,2,4,1,0,1,2005,18,01
15,526460.0,177460.0,-0.180220,51.481912,3,1,3,10,3,3217,...,0,2,4,4,1,0,1,2005,18,01
16,524680.0,179450.0,-0.205139,51.500191,2,2,5,0,6,0,...,0,2,2,2,1,0,1,2005,20,01
17,527000.0,179020.0,-0.171887,51.495811,3,2,6,9,3,3218,...,4,2,2,4,1,0,1,2005,21,01
18,527810.0,178010.0,-0.160590,51.486552,3,2,6,21,4,302,...,0,2,2,2,1,0,1,2005,21,01
19,526790.0,178980.0,-0.174925,51.495498,2,1,7,3,3,4,...,0,2,2,2,1,0,1,2005,08,01
20,525940.0,178680.0,-0.187270,51.492992,3,1,2,21,6,0,...,0,2,2,2,1,0,1,2005,24,01
21,524700.0,180880.0,-0.204346,51.513039,3,2,2,17,4,415,...,0,2,2,2,1,0,1,2005,24,01
22,526930.0,177490.0,-0.173445,51.482076,3,2,2,21,3,3220,...,3220,2,2,2,1,2,1,2005,24,01
23,527290.0,178710.0,-0.167824,51.492960,3,2,3,17,5,0,...,0,2,2,2,1,0,1,2005,18,01
24,527380.0,179280.0,-0.166322,51.498062,3,2,7,7,3,4,...,319,2,3,4,1,4,1,2005,29,01
25,523930.0,180330.0,-0.215629,51.508265,3,1,4,16,5,0,...,0,2,4,2,5,4,1,2005,19,01
26,524470.0,180980.0,-0.207623,51.513988,3,2,1,20,4,450,...,0,2,2,2,1,0,1,2005,30,01
27,525570.0,178190.0,-0.192771,51.488671,3,2,7,13,3,3220,...,3218,2,3,4,5,4,1,2005,29,01
28,526240.0,178900.0,-0.182872,51.494902,3,2,3,18,3,4,...,0,2,3,2,5,4,1,2005,01,02
29,527780.0,179160.0,-0.160606,51.496893,3,2,4,7,4,319,...,0,2,4,2,1,0,1,2005,02,02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
464667,336437.0,584514.0,-2.998950,55.150893,2,1,3,12,3,7,...,0,2,2,4,1,0,2,2014,09,09
464668,306125.0,611710.0,-3.483530,55.390368,3,1,1,0,3,701,...,0,2,2,4,1,0,2,2014,14,09
464669,325289.0,597863.0,-3.177379,55.269263,3,2,6,14,4,709,...,723,2,2,4,5,4,2,2014,08,08
464670,319389.0,566583.0,-3.261321,54.987314,3,1,3,12,4,721,...,980,2,3,4,1,0,2,2014,16,09
464671,306080.0,592135.0,-3.477689,55.214520,3,2,7,12,3,701,...,0,2,2,4,1,0,2,2014,20,09
464672,313234.0,607312.0,-3.369973,55.352170,2,2,1,13,3,708,...,0,2,2,4,1,0,2,2014,21,09
464673,319365.0,566417.0,-3.261649,54.985819,3,1,1,10,5,38,...,0,2,2,2,1,0,2,2014,21,09
464674,315856.0,572489.0,-3.318259,55.039789,2,2,4,11,4,725,...,0,2,2,4,1,0,2,2014,24,09
464675,306666.0,604698.0,-3.472652,55.327484,3,1,1,14,2,74,...,0,2,2,4,1,4,2,2014,05,10
464676,330751.0,567482.0,-3.084011,54.997103,3,2,6,18,3,75,...,721,2,2,2,5,4,2,2014,03,10
464677,306950.0,604084.0,-3.467974,55.322022,3,1,2,7,2,74,...,0,2,2,4,4,4,2,2014,06,10
464678,319519.0,566948.0,-3.259393,54.990615,2,2,7,14,6,906,...,924,2,2,4,1,0,2,2014,27,09
464679,313707.0,580203.0,-3.354216,55.108720,3,6,3,15,2,74,...,0,2,2,4,1,0,2,2014,14,10
464680,316784.0,568053.0,-3.302448,55.000092,3,2,7,7,3,75,...,0,2,2,0,5,4,2,2014,25,10
464681,310347.0,594369.0,-3.411357,55.235382,3,1,3,11,2,74,...,0,2,2,4,4,4,2,2014,28,10
464682,319657.0,566553.0,-3.257125,54.987088,2,2,4,15,4,721,...,947,2,2,4,3,4,2,2014,05,11
464683,312209.0,580958.0,-3.377924,55.115240,3,2,6,8,3,709,...,0,2,2,4,1,4,2,2014,07,11
464684,319487.0,566721.0,-3.259829,54.988570,3,2,5,15,6,906,...,1,2,2,4,1,0,2,2014,05,06
464685,310318.0,590421.0,-3.410558,55.199911,2,3,2,16,4,7076,...,0,2,2,4,1,0,2,2014,17,11
464686,311812.0,580747.0,-3.384080,55.113274,3,1,2,13,3,709,...,91,2,2,4,1,0,2,2014,17,11
464687,312649.0,583604.0,-3.371842,55.139088,3,2,2,6,2,74,...,0,2,2,0,1,4,2,2014,24,11
464688,316306.0,568290.0,-3.309988,55.002141,1,1,3,15,3,75,...,0,2,2,4,1,4,2,2014,25,11
464689,311115.0,574365.0,-3.393009,55.055816,3,1,4,19,4,7020,...,30,2,2,0,2,4,2,2014,03,12
464690,328339.0,567093.0,-3.121609,54.993266,3,1,7,3,3,75,...,0,2,2,0,3,4,2,2014,06,12
464691,307298.0,603520.0,-3.462305,55.317022,3,2,2,9,2,74,...,0,2,2,4,1,3,2,2014,08,12
464692,310037.0,597647.0,-3.417278,55.264773,2,2,1,22,2,74,...,0,2,2,0,7,3,2,2014,07,12
464693,321509.0,574063.0,-3.230255,55.054855,3,2,5,6,2,74,...,0,2,2,0,1,3,2,2014,11,12
464694,321337.0,566365.0,-3.230826,54.985668,3,1,3,2,4,721,...,0,2,2,2,1,2,2,2014,09,12
464695,323869.0,566853.0,-3.191397,54.990446,2,3,4,6,3,75,...,43,2,2,0,5,4,2,2014,17,12
464696,314072.0,579971.0,-3.348426,55.106700,3,2,4,15,4,723,...,7076,2,2,4,1,4,2,2014,24,12

In [16]:
train, test = train_test_split(data1, test_size=.20)

In [17]:
features = ["Number_of_Vehicles", "Day_of_Week", "Time", "Road_Type", "Speed_limit",
                         "Pedestrian_Crossing-Human_Control", "Pedestrian_Crossing-Physical_Facilities",
                         "Light_Conditions", "Weather_Conditions", "Road_Surface_Conditions",
                         "month"]

In [18]:
y_train = train['Accident_Severity']
x_train = train[features]

y_test = test['Accident_Severity']
x_test = test[features]

In [19]:
print(test.loc[:, x_train.columns != 'Accident_Severity'].head(0))

Empty DataFrame
Columns: [Location_Easting_OSGR, Location_Northing_OSGR, Longitude, Latitude, Accident_Severity, Number_of_Vehicles, Day_of_Week, Time, 1st_Road_Class, 1st_Road_Number, Road_Type]
Index: []

In [20]:
print("x_train: ", x_train.shape)
print("x_test: ", x_test.shape)
print("y_train: ", y_train.shape)
print("y_test: ", y_test.shape)

x_train:  (1174393, 11)
x_test:  (293599, 11)
y_train:  (1174393,)
y_test:  (293599,)

In [77]:
clf = RandomForestClassifier(n_estimators=30)

In [78]:
build_model(clf, x_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=30, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [79]:
pred = predict(clf, x_test)

In [80]:
print_score(y_test, pred)

Accuracy Score: 0.8331261346257991
Precision Score: 0.38912664346671755
Recall Score: 0.3455300151372192
F1 Score: 0.3386668804948941

(0.8331261346257991,
 0.38912664346671755,
 0.3455300151372192,
 0.3386668804948941)

In [25]:
# y_test.shape
print(x_test.shape)
print(len(pred))

(293599, 11)
293599

In [ ]:
def get_console(pred, class=1):
    for i in range(len(pred)):
        if pred[i] == class:
            return i

In [52]:
get_console

2
Number_of_Vehicles                          2
Day_of_Week                                 2
Time                                       20
Road_Type                                   3
Speed_limit                                30
Pedestrian_Crossing-Human_Control           2
Pedestrian_Crossing-Physical_Facilities     2
Light_Conditions                            2
Weather_Conditions                          1
Road_Surface_Conditions                     4
month                                      05
Name: 67521, dtype: object

In [58]:
df1 = pd.DataFrame(columns=features)
df1.loc[1] = x_test.iloc[index]
df1

,Number_of_Vehicles,Day_of_Week,Time,Road_Type,Speed_limit,Pedestrian_Crossing-Human_Control,Pedestrian_Crossing-Physical_Facilities,Light_Conditions,Weather_Conditions,Road_Surface_Conditions,month
1,2,2,20,3,30,2,2,2,1,4,05

In [72]:
input_dict = {}
# input_data =  {
#     'Pedestrian_Crossing-Physical_Facilities': 'No physical crossing within 50 meters', 
#       'Light_Conditions': 'Daylight: Street light present', 
#     'Weather_Conditions': 'Fine without high winds', 
#     'Road_Surface_Conditions': 'Dry', 
#     'Pedestrian_Crossing-Human_Control': 'None within 50 metres', 
#     'Road_Type': 'Single carriageway', 
#     'Number_of_Vehicles': '4', 
#     'Day_of_Week': '1', 
#     'Time': '14:00', 
#     'Speed_limit': '50', 
#     'month': '4'}
input_data = {'Pedestrian_Crossing-Physical_Facilities': 'No physical crossing within 50 meters', 'Light_Conditions': 'Darkness: Street lights present and lit', 'Weather_Conditions': 'Fine without high winds', 'Road_Surface_Conditions': 'Wet/Damp', 'Pedestrian_Crossing-Human_Control': 'None within 50 metres', 'Road_Type': 'Single carriageway', 'Number_of_Vehicles': '2', 'Day_of_Week': '2', 'Time': '20:00', 'Speed_limit': '30', 'month': '5'}

In [73]:
for key, value in input_data.items():
    input_dict[key] = [value]
input_dict

{'Pedestrian_Crossing-Physical_Facilities': ['No physical crossing within 50 meters'],
 'Light_Conditions': ['Darkness: Street lights present and lit'],
 'Weather_Conditions': ['Fine without high winds'],
 'Road_Surface_Conditions': ['Wet/Damp'],
 'Pedestrian_Crossing-Human_Control': ['None within 50 metres'],
 'Road_Type': ['Single carriageway'],
 'Number_of_Vehicles': ['2'],
 'Day_of_Week': ['2'],
 'Time': ['20:00'],
 'Speed_limit': ['30'],
 'month': ['5']}

In [74]:
print(x_test.iloc[index])

Number_of_Vehicles                          2
Day_of_Week                                 2
Time                                       20
Road_Type                                   3
Speed_limit                                30
Pedestrian_Crossing-Human_Control           2
Pedestrian_Crossing-Physical_Facilities     2
Light_Conditions                            2
Weather_Conditions                          1
Road_Surface_Conditions                     4
month                                      05
Name: 67521, dtype: object

In [75]:
df = pd.DataFrame.from_dict(input_dict)
df = preprocess_data(df)
df = df[features]
print(df)

  Number_of_Vehicles Day_of_Week  Time  Road_Type Speed_limit  \
0                  2           2    20          3          30

   Pedestrian_Crossing-Human_Control  Pedestrian_Crossing-Physical_Facilities  \
0                                  2                                        2

   Light_Conditions  Weather_Conditions  Road_Surface_Conditions month
0                 2                   1                        4     5

In [76]:
predict(clf, df)

array([2])

In [69]:
predict(clf, df1)

array([2])

In [70]:
df

,Number_of_Vehicles,Day_of_Week,Time,Road_Type,Speed_limit,Pedestrian_Crossing-Human_Control,Pedestrian_Crossing-Physical_Facilities,Light_Conditions,Weather_Conditions,Road_Surface_Conditions,month
0,2,2,22,3,30,2,2,2,1,4,5

In [71]:
df1

,Number_of_Vehicles,Day_of_Week,Time,Road_Type,Speed_limit,Pedestrian_Crossing-Human_Control,Pedestrian_Crossing-Physical_Facilities,Light_Conditions,Weather_Conditions,Road_Surface_Conditions,month
1,2,2,20,3,30,2,2,2,1,4,05

32

In [73]:
# a = pd.DataFrame(columns=["Footbridge or subway"])
print(le_Pedestrian_Crossing_Physical_Facilities.classes_)
print(le_Pedestrian_Crossing_Physical_Facilities.classes_)
print(le_Light_Conditions.classes_)
print(le_Weather_Conditions.classes_)
print(le_Road_Surface_Conditions.classes_)
print(le_Pedestrian_Crossing_Human_Control.classes_)
print(le_Road_Type.classes_)

['Central refuge' 'Footbridge or subway'
 'No physical crossing within 50 meters'
 'Pedestrian phase at traffic signal junction' 'Zebra crossing'
 'non-junction pedestrian crossing']
['Central refuge' 'Footbridge or subway'
 'No physical crossing within 50 meters'
 'Pedestrian phase at traffic signal junction' 'Zebra crossing'
 'non-junction pedestrian crossing']
['Darkeness: No street lighting' 'Darkness: Street lighting unknown'
 'Darkness: Street lights present and lit'
 'Darkness: Street lights present but unlit'
 'Daylight: Street light present']
['Fine with high winds' 'Fine without high winds' 'Fog or mist' 'Other'
 'Raining with high winds' 'Raining without high winds'
 'Snowing with high winds' 'Snowing without high winds' 'Unknown']
['Dry' 'Flood (Over 3cm of water)' 'Frost/Ice' 'Snow' 'Wet/Damp']
['Control by other authorised person' 'Control by school crossing patrol'
 'None within 50 metres']
['Dual carriageway' 'One way street' 'Roundabout' 'Single carriageway'
 'Slip road' 'Unknown']